.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.search-container {
  margin: 20px;
}
.additional-image {
  width: 300px;
  /* 設置寬度，根據實際需求調整 */
  height: auto;
  /* 保持寬高比，讓高度根據寬度自動調整 */
}
input {
  padding: 10px;
  font-size: 16px;
    border-radius: 5px;
      /* 設置鈍角的半徑 */
}

.search-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.result-item {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  width: 300px;
}

a {
  color: #61dafb;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* 初始按鈕樣式 */
.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #61dafb;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button {
  padding: 10px;
  background-color: #61dafb;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  /* 添加過渡效果 */
}

button:hover {
  background-color: #4285f4;
  /* 滑鼠懸停時的顏色 */
}

button:active {
  transform: scale(0.95);
  /* 添加按下時的縮小效果 */
}

.image-container {
  margin-top: 20px;
}


.results-container {
  width: 50%;
  float: left;
  text-align: left;
}
/* App.css */

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.search-container {
  margin-bottom: 20px;
}

.main-container {
  display: flex;
}

.list-container {
  flex: 1;
  padding: 20px;display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.list-item {
  padding: 10px;
  margin: 10px 0;
background-color: #282c34;  color: #fff;
  border-radius: 5px;border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    width: 300px;
}

.stock-watchlist {
  width: 30%;
  padding: 20px;
  background-color: #61dafb;
  color: #fff;
  border-radius: 5px;
}

.stock-item {
  padding: 10px;
  margin: 10px 0;
  background-color: #61dafb;
  color: #fff;
  border-radius: 5px;
}

.stock-change {
  margin-left: 10px;
}

.positive {
  color: green;
}

.negative {
  color: red;
}